{% extends "layouts/base.html" %}
{% block content %}
{% include 'partials/intro.html' %}
<section class="relative container-wrapper grid grid-cols-1 z-50 gap-700 pb-900 md:gap-900 md:grid-cols-2 md:border-x-0 md:px-0">
    <div class="relative md:pl-container md:border-l-gutter md:border-transparent pt-900 space-y-800 flex flex-col bg-light-glare md:after:bg-light-glare md:after:w-900 md:after:h-xl md:after:top-0 md:after:-right-900 md:after:absolute md:-mt-xl">
        <div class="space-y-500">
            <h2 class=" max-w-[18ch]">Lad din barndomsdrøm gå i opfyldese!</h2>
            <p class="text-400 opacity-80 measure-35">Kraftfuld og smidig - F-TYPE er en ægte Jaguar-sportsvogn og det seneste skud på et ædelt stamtræ. Med <strong>380 hestekræfter</strong> og en <strong>sublim 8 trins gearkasse</strong> og <strong>4-hjulstræk</strong>, kan du køre bilen hele året hvis du ønsker det.</p>
        </div>
        <div class="image-overlay flex-grow">
            <img class="object-cover h-full w-full" src="{{ site.claudinaryUrl}}c_fill,f_auto,q_auto,w_800,h_800/{{ site.claudinaryFolder }}s-l1600_euff4b" alt="Alt tekst">
        </div>
        
    </div>
    <div class="space-y-800 flex flex-col md:pt-900 md:pr-container md:border-r-gutter md:border-transparent">
        <div class="image-overlay">
            <img class="flex-grow w-full object-cover" src="{{ site.claudinaryUrl}}c_fill,f_auto,q_auto,w_600,h_600/{{ site.claudinaryFolder }}s-l1600_px7ita" alt="Alt tekst">
        </div>
        <div class="space-y-500">
            <h2>Finansiel leasing</h2>
            <p class="text-400 opacity-80 measure-35 transform hover:translate-x-500 transition-transform delay-100 hover:delay-1000">Du betaler en førstegangsydelse samt etableringsgebyr ved indgåelse af aftalen, og herefter ydes en månedlig ydelse.</p>
            <a class="flex self-start items-center space-x-[.8em] font-heading font-bold text-200 group" href="">
                <span class="flex items-center justify-center bg-primary text-light-glare w-[2.1em] h-[2.1em] rounded-full border-2 border-light-glare outline-1 outline-dashed outline-dark-shade/20 overflow-hidden">
                    {{ '/src/_includes/partials/svg/arrow.svg' | svgContents("fill-current h-[.7em] transform -translate-x-[150%] shrink-0 group-hover:translate-x-[50%] group-hover:delay-150 transition-transform duration-200 ease-in-out") | safe }}
                    {{ '/src/_includes/partials/svg/arrow.svg' | svgContents("fill-current h-[.7em] transform -translate-x-[50%] shrink-0 group-hover:translate-x-[100%] group-hover:delay-[0ms] delay-150 transition-transform duration-200 ease-in-out") | safe }}
                </span>
                <span class="group-hover:text-primary transition-colors duration-200 ease-in-out">Læs mere om leasing</span>
            </a>
        </div>
       
    </div>
</section>
{% include 'partials/specification.html' %}
{% include 'partials/gallery.html' %}
<section class="container-wrapper bg-light py-900 space-y-800">
    <h2 class="measure-15">Se flere biler i samme kategori</h2>
    <div class="reel gap-gutter ">
            {% for item in cars %}
            <a href="/cars/{{ item.Make }}{{ item.Id }}/" class="flex flex-col space-y-300 mb-600 w-4/5 [ md:w-[45%] ] [ lg:w-[38%] ]">
                <div class="image-overlay">
                    <img class="aspect-3/2 object-cover w-full" src="{{ item.Pictures | first }}" alt="sd">
                </div>
                <div class="flex flex-wrap gap-3">
                    <h3 class="text-500 leading-none">{{ item.Make }} {{ item.Model }}</h3>
                    <strong class="text-500 leading-none text-primary">{{ item.Price }} pr./md</strong>
                    <p class="basis-[100%] opacity-70">{{ item.Variant }}</p>
                </div>
                <ul class="cluster gap-[11px] text-[11px] ml-[3px] [ md:text-[13px] ]">
                    <li class="flex flex-col py-[.5em] px-[1em] bg-light-glare leading-tight border border-dashed border-dark/20 ring-[3px] ring-light-glare">
                        <small class="opacity-70">Type</small>
                        <strong>{{ item.Type }}</strong>
                    </li>
                    <li class="flex flex-col py-[.5em] px-[1em] bg-light-glare leading-tight border border-dashed border-dark/20 ring-[3px] ring-light-glare">
                        <small class="opacity-70">Brændstof</small>
                        <strong>{{ item.Propellant }}</strong>
                    </li>
                    <li class="flex flex-col py-[.5em] px-[1em] bg-light-glare leading-tight border border-dashed border-dark/20 ring-[3px] ring-light-glare">
                        <small class="opacity-70">Km</small>
                        <strong>{{ item.Mileage }}</strong>
                    </li>
                    <li class="flex flex-col py-[.5em] px-[1em] bg-light-glare leading-tight border border-dashed border-dark/20 ring-[3px] ring-light-glare">
                        <small class="opacity-70">Modelår</small>
                        <strong>{{ item.Year }}</strong>
                    </li>
                </ul>
            </a>
        {% endfor %}
    </div>
</section>
<section class="container-wrapper py-900 flex flex-col gap-800 md:flex-row">

    <div class="flex flex-grow [ md:basis-[25rem] ]">
        {{ '/src/_includes/partials/svg/trustpilot.svg' | svgContents("text-primary fill-current w-[20%] shrink-0 self-start md:w-xl") | safe }}
        <div class="ml-gutter space-y-200">
            <p class="h5">Andbefalet på trustpilot af kunderne</p>
            <p class="text-sm">Baseret på <a class="underline" target="_blank" href="https://dk.trustpilot.com/review/www.agilease.dk">37 anmeldelser</a></p>
            <ul class="flex space-x-px">
                <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-400") | safe }}</li>
                <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-400") | safe }}</li>
                <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-400") | safe }}</li>
                <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-400") | safe }}</li>
                <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-400") | safe }}</li>
            </ul>
        </div>
    </div>
    <hr class="h-auto w-auto border-l border-dashed border-dark-shade/20">
    <div class="flex flex-grow-9 gap-800 [ md:basis-[50%] ]">
        <div class="space-y-3">
            <div class="flex items-center space-x-100">
                <p class="h5 text-200">Rigtig god service</p>
                <ul class="flex space-x-px">
                    <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-200") | safe }}</li>
                    <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-200") | safe }}</li>
                    <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-200") | safe }}</li>
                    <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-200") | safe }}</li>
                    <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-200") | safe }}</li>
                </ul>
            </div>
            
            <p class="text-xs opacity-70 leading-normal">
                Jeg har haft en super god oplevelse med Agilease, Sælgeren var 100% Seriøs omkring alle aftaler,og leveret en flot klargjort bil.
            </p>
            <div class="flex item-center gap-2 text-xs font-bold">
                <p>Torben</p>
                <hr class="h-3 border-l border-dashed border-dark-shade/20">
                <time>14. nov. 2021</time>
            </div>
        </div>
        <hr class="h-full border-l border-dashed border-dark-shade/20">
        <div class="space-y-3">
            <div class="flex items-center space-x-100">
                <p class="h5 text-200">Rigtig god service</p>
                <ul class="flex space-x-px">
                    <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-200") | safe }}</li>
                    <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-200") | safe }}</li>
                    <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-200") | safe }}</li>
                    <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-200") | safe }}</li>
                    <li class="">{{ '/src/_includes/partials/svg/star.svg' | svgContents("text-primary fill-current h-200") | safe }}</li>
                </ul>
            </div>
            
            <p class="text-xs opacity-70 leading-normal">
                Jeg har haft en super god oplevelse med Agilease, Sælgeren var 100% Seriøs omkring alle aftaler,og leveret en flot klargjort bil.
            </p>
            <div class="flex item-center gap-2 text-xs font-bold">
                <p>Torben</p>
                <hr class="h-3 border-l border-dashed border-dark-shade/20">
                <time>14. nov. 2021</time>
            </div>
        </div>
    </div>
</section>
<section class="relative px-gutter before:bg-dark before:w-full before:h-1/2 before:absolute before:bottom-0 before:left-0 before:z-[-1]">
    <div class="container-wrapper bg-primary text-light-glare py-900">
        <div class="space-y-200">
            <p class="h2">Hold dig opdateret!</p>
            <p class="measure-45">Tilmeld dig vores nyhedsbrev og få løbende information om vores biler, samt hvad der sker i firmaet.</p>
        </div>
        <form class="grid grid-cols-1 md:grid-cols-4 gap-6 mt-600" name="newsletter sign up" method="POST" action="/tak-newsletter.html" netlify-honeypot="bot-field" data-netlify="true">
            <label>
                <input class="w-full bg-transparent border-0 border-b border-light-glare/20 px-0 pb-100 text-400 placeholder-light-glare placeholder-opacity-100 focus:border-light-glare focus:ring-1 focus:ring-transparent" type="text" name="Navn" placeholder="Dit navn" required>
                <span class="text-xs uppercase opacity-40 mt-4 block">Navn</span>
            </label>
            <label>
                <input class="w-full bg-transparent border-0 border-b border-light-glare/20 px-0 pb-100 text-400 placeholder-light-glare placeholder-opacity-100 focus:border-primary-shade focus:ring-1 focus:ring-transparent" type="tel" name="Tel" placeholder="Telefonnummer" required>
                <span class="text-xs uppercase opacity-40 mt-4 block">Telefon.NR</span>
            </label>
            <label>
                <input class="w-full bg-transparent border-0 border-b border-light-glare/20 px-0 pb-100 text-400 placeholder-light-glare placeholder-opacity-100 focus:border-primary-shade focus:ring-1 focus:ring-transparent" type="email" name="E-mail" placeholder="Din e-mail" required>
                <span class="text-xs uppercase opacity-40 mt-4 block">E-mail</span>
            </label>
            <div>
                <button class="bg-light-glare w-full text-100 text-primary flex items-center font-bold justify-center space-x-2 py-[.8em] leading-none ring-1 ring-light-glare border border-primary" data-type="tertiary">Tilmeld dig her</button>
            </div>
            <p class="hidden">
                <label>Don’t fill this out if you're human:
                    <input name="bot-field"/>
                </label>
            </p>
        </form>
    </div>
</section>
<div class="bg-primary-shade fixed space-y-200 items-center z-[100] bottom-0 right-0 p-400 text-light-glare transform -translate-y-[-100%] transition-all shadow-2xl" :class="{ 'translate-y-[0%]' : !scroleAtTop }" @scroll.window="scroleAtTop = (window.pageYOffset > 1200) ? false : true">
    <span class="h4">{{ car.Price }} pr./md</span>
    <button class="bg-light-glare text-100 text-primary flex items-center font-bold justify-center px-300 space-x-2 py-[.7em] leading-none ring-1 ring-light-glare border border-primary">{{ '/src/_includes/partials/svg/arrow.svg' | svgContents("fill-current h-[.7em] mt-[.1em]") | safe }}<span>Jeg er interesseret</span></button>
</div>
{% endblock %}