/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";

@import './var';
@import './btn';
@import './type';

@import './utilities/container-wrapper';
@import './utilities/image-responsive';
@import './utilities/reel';
@import './utilities/auto-grid';
@import './utilities/image-overlay';
@import './utilities/cluster';
@import './utilities/switcher';
@import './utilities/full-bleed';

@import "tailwindcss/utilities";

body{
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.spec--small{
    @apply bg-light-glare text-400 py-[.6em] px-[1em] flex flex-col border border-dashed border-dark-shade/20 m-[3px] ring-[3px] ring-light-glare
}

.spec--large{
    @apply bg-light-glare p-900 border border-dashed border-dark-shade/20 ring-[15px] ring-light-glare m-[15px] text-800 flex flex-col
}

.custom-left{
    position: absolute;
    padding-left: calc(((100% - var(--container-width)) / 2));
    left: 0;
    /* padding-left: var(--container-padding); */
    bottom: calc(var(--size-xl) + var(--size-600)) !important;
}


.slbElement {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slbElement .slbOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    @apply bg-dark-shade bg-opacity-90;
  }
  .slbElement .slbWrapOuter {
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: var(--container-width);
    height: auto;
    @apply bg-dark-shade;
    border: 2px solid #000;
  }
  .slbElement .slbWrapOuter .slbWrap {
    width: 100%;
    height: 100%;
  }
  .slbElement .slbWrapOuter .slbWrap .slbContentOuter {
    width: 100%;
    height: 100%;
  }
  .slbElement .slbWrapOuter .slbWrap .slbContentOuter .slbContent {
    width: 100%;
    height: 100%;
  }
  .slbElement .slbWrapOuter .slbWrap .slbContentOuter .slbContent .slbIframeCont {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  .slbElement .slbWrapOuter .slbWrap .slbContentOuter .slbContent .slbIframeCont .slbIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .slbElement .slbWrapOuter .slbWrap .slbContentOuter .slbArrows {
    position: absolute;
    display: flex;
    bottom: -1rem;
    transform: translateY(100%);
  }
  .slbElement .slbWrapOuter .slbWrap .slbContentOuter .slbArrows > * + * {
    margin-left: 1rem;
  }
  .slbElement .slbWrapOuter .slbWrap .slbContentOuter .slbArrows button {
    @apply bg-primary text-dark-shade py-4 px-8;
    width: auto;
    line-height: 100%;
  }
  .slbElement .slbWrapOuter .slbWrap .slbContentOuter .slbCloseBtn {

    @apply -top-6 -right-6 border-2 border-dark-shade w-14 h-14 text-3xl text-dark-shade bg-primary;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
  }

  .slbImage{
      width: 100%;
  }

[x-cloak] {
    display: none !important;
}

@layer utilities {

    .auto-grid-sm{
        --auto-grid-size: 10rem;
    }
      
    .auto-grid-md{
        --auto-grid-size: 15rem;
    }
      
    .auto-grid-lg{
        --auto-grid-size: 20rem;
    }

    .measure-10 {
    max-width: 10ch;
    }
    .measure-15 {
    max-width: 15ch;
    }
    .measure-20 {
    max-width: 20ch;
    }
    .measure-30 {
    max-width: 30ch;
    }
    .measure-35 {
    max-width: 35ch;
    }
    .measure-40 {
    max-width: 40ch;
    }
    .measure-45 {
    max-width: 45ch;
    }
    .measure-60 {
    max-width: 60ch;
    }
    .measure-65 {
    max-width: 65ch;
    }
    .measure-70 {
    max-width: 70ch;
    }
    
    .flex-basis-0 {
    flex-basis: 0;
    }
    .flex-basis-10 {
    flex-basis: 10ch;
    }
    .flex-basis-20 {
    flex-basis: 20ch;
    }
    .flex-basis-25 {
    flex-basis: 25ch;
    }
    .flex-basis-30 {
    flex-basis: 30ch;
    }
    .flex-basis-35 {
    flex-basis: 35ch;
    }
    .flex-basis-40 {
    flex-basis: 40ch;
    }
    .flex-basis-50 {
    flex-basis: 50ch;
    }
    .flex-basis-60 {
    flex-basis: 60ch;
    }
}
